<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

    <!-- Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/7558ce1d8d.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <!-- Estilos -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/login.css">

</head>

<body>

    <header>
        <article class="header-top">
            <a href="/">
                <img class="logo1" src="/images/logo-mercado-liebre.svg" alt="logo">
            </a>
            <div class="buscador-mobile">
                <input class="buscador" type="search" name="busqueda" placeholder="Buscar productos, marcas y más">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </article>
        <h2 class="cuotas1">
            <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito
        </h2>

        <article class="header-tres">
            <img class="logo2" src="/images/logo-mercado-liebre.svg" alt="logo">
            <div class="buscador-mobile">
                <input class="buscador" type="search" name="busqueda" placeholder="Buscar productos, marcas y más">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <h2 class="cuotas2">
                <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </article>

        <nav>
            <ul>
                <li type="none"> <a href=""> Ofertas </a> </li>
                <li type="none"> <a href=""> Tiendas Oficiales </a> </li>
                <li type="none"> <a href=""> Vender </a> </li>
                <li type="none"> <a href=""> Ayuda </a> </li>
            </ul>
            <ul>
                <li type="none">
                    <a href="/registro"> Creá tu cuenta </a>
                    <i class="fa-regular fa-id-card"></i>
                </li>
                <li type="none">
                    <a href="/login"> Ingresá </a>
                    <i class="fa-solid fa-right-to-bracket"></i>
                </li>
                <li type="none">
                    <a href=""> Mis compras </a>
                    <i class="fa-sharp fa-solid fa-basket-shopping"></i>
                </li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>

    <main>

        <form class="form-login" action="/login" name="login" method="post">


            <div class="solicitacion">
                <input type="text" name="nombre" placeholder="Nombre de usuario" class="espacio">
            </div>

            <div class="solicitacion">
                <input type="password" name="contraseña" placeholder="Contraseña" class="espacio">
            </div>

            <div class="solicitacion">
                <button type="submit" class="boton"> Enviar </button>
            </div>
        </form>
    </main>


    <footer>


        <section class="footer">
            <article>
                <i class="fa-solid fa-credit-card"></i>
                <h3 class="subtitulos"> Pagá con tarjeta o en efectivo </h3>
                <p class="descripciones"> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro! </p>
            </article>

            <article>
                <i class="fa-solid fa-gift"></i>
                <h3 class="subtitulos"> Envío gratis desde $ 2.500 </h3>
                <p class="descripciones"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos. </p>
            </article>

            <article>
                <i class="fa-solid fa-user-shield"></i>
                <h3 class="subtitulos"> Seguridad de principio a fin </h3>
                <p class="descripciones"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@. </p>
            </article>
        </section>

        <section class="copy-right">
            <p> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
        </section>
    </footer>

</body>

</html>