:root {
   --yellow: #EAC926;
   --blue: #03264C;
   --light-blue: #1259c3;
   --gray: #666666;
   --light-gray: #ebebeb;
   --green: #39b54a;
}


body {
   background-color: #EDEDED;
}

p {
   font-family: "Roboto", "sans-serif";
   font-size: 12px;
}

header {
   background-color: #EAC926;
   height: 80%;
}

.logo {
   width: 50%;
}

.place-holder {
   display: inline;
   margin: 0px 0px 0px 22px;
   font-family: "Roboto", "sans-serif";
   font-size: 15px;
   width: 200px;
   border: solid 1px gray;
   border-radius: 0.3ch;
   align-items: center;
}

.cuotas1 {
   display: block;
   font-family: "Roboto", "sans-serif";
   font-size: 12px;
   margin: 15px 10px;
   font-weight: 400px;
   text-align: center;
   align-items: center;
}

nav ul {
   margin-left: 15px;
   padding: 0px;
}


a {
   text-decoration: none;
   color: #000;
}


.burger-menu {
   text-align: center;
   margin: auto;
   padding: 20px;
}

.fa-bars {
   color: white;
   background-color: #1259c3;
   font-size: 1.5em;
   padding: 15px;
   border-radius: 15%;
}

.banner {
   width: 100%;
}

main {
   width: 100%;
   padding-bottom: 15px;
}


.titulares {
   color: #666666;
   font-family: "Roboto", "sans-serif";
   font-size: 24px;
   margin-left: 7.5%;
   font-weight: bolder;
}

h4 {
   font-family: "Roboto", "sans-serif";
   font-weight: lighter;
   color: #8a8a8a;
   margin: 0px 0px 4px 2px;
}

.separador {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.separador article {
   margin-bottom: 10px;
}

.productos {
   background-color: white;
   box-shadow: 0px 0px 10px rgb (100, 100, 100);
   width: 33%;
}

.productos-img {
   display: block;
   width: 100%;
   box-sizing: border-box;
}

.cuadro {
   border-top: solid 1px #ebebeb;
   text-align: left;
   padding: 15px;
   position: relative;
}

main section article i {
   display: block;
   font-size: 16px;
   color: #39b54a;
   padding: 5px;
   width: 30px;
   height: 30px;
   border: solid 1px #39b54a;
   background-color: #FFF;
   border-radius: 50%;
   position: absolute;
   right: 20px;
   top: -15px;
   box-sizing: border-box;
}

.precio {
   display: inline-flex;
   font-family: "Roboto", "sans-serif";
   font-size: 18px;
   margin: 1px 0px 2px 5px;
}

.descuentos {
   display: inline-flex;
   font-family: "Roboto", "sans-serif";
   font-size: 16px;
   color: #39b54a;
   margin: 3px 0px 20px 12px;
   align-items: center;
}

.descripciones {
   font-family: "Roboto", "sans-serif";
   color: gray;
   font-size: 16px;
   margin-top: 2px;
}

footer {
   background-color: white;
   padding-top: 10px;
}

.footer {
   text-align: center;
   margin: 15%;
}

.copy-right p {
   color: gray;
   font-family: "Roboto", "sans-serif";
   font-size: 15px;
   margin-bottom: 0px;
   padding: 20px 0px 20px 30px;
   box-sizing: border-box;
}

.fa-credit-card {
   margin-bottom: 10px;
   font-size: 2em;
   color: #1259c3;
}

.fa-gift {
   margin-bottom: 10px;
   font-size: 2em;
   color: #1259c3;
}

.fa-user-shield {
   margin-bottom: 10px;
   font-size: 2em;
   color: #1259c3;
}

.subtitulos {
   font-family: "Roboto", "sans-serif";
   margin-bottom: 0px;
   box-sizing: border-box;

}

@media (max-width: 425px) {

   .header-tres {
      display: none;
   }

   .header-top {
      padding: 30px 40px 5px 40px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
   }

   .logo1 {
      align-items: center;
      width: 54%;
      margin-bottom: 10px;
   }

   .buscador-tablet-desktop {
      display: none;
   }

   .buscador-mobile {
      display: flex;
      position: relative;
      align-items: center;
      margin-top: auto;
   }

   .buscador-mobile input {
      margin-bottom: 7px;
      padding: 12px 10px 12px 10px;
      width: 41vw;
      height: 74%;
      border-radius: 0.7ch;
      outline: none;
   }

   .buscador-mobile i {
      position: absolute;
      font-size: 13px;
      right: 3px;
      top: 14.5px;
      font-weight: bold;
      color: rgb(29, 29, 29);
   }

   .place-holder {
      display: inline;
      margin: 0px 0px 0px 15px;
      font-family: "Roboto", "sans-serif";
      font-size: 12px;
      border: solid 1px #ebebeb;
      align-items: center;
   }

   .lupa {
      display: none;
   }

   main section article h4,
   nav ul {
      display: none;
   }

   .separador {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
   }

   .productos {
      background-color: white;
      width: 80%;
   }
}

@media (min-width: 426px) {

   .header-top {
      display: none;
   }

   .cuotas1{
      display: none;
   }

   .buscador-mobile {
      display: none;
   }

  header{
      height: 13em;
   }

   .header-tres {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      padding: 30px 20px 35px 20px;
   }

   .logo2 {
      display: inline-flex;
      width: 33%;
   }

   .buscador-tablet-desktop {
      display: inline-flex;
      flex-wrap: nowrap;
      align-items: center;
      padding-right: 1.5%;
      padding-left: 2px;
      padding-top: 1%;
   }

   .place-holder {
      margin: 0px;
      font-size: 13px;
      width: 22.5vw;
      border-radius: 0.4ch;
      height: fit-content;
   }

   .lupa {
      display: inline-flex;
      background-color: #ebebeb;
      border: solid 1px rgb(97, 97, 97);
      font-size: 11px;
      border-radius: 0.4ch;
      font-weight: bolder;
      align-items: center;
      margin-left: 3px;
   }
   
   .fa-magnifying-glass {
      display: inline-flex;
      font-size: 11px;
      margin-left: 1px;
      padding: 3px 1px;
      align-items: center;
   }

   .cuotas2{
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      font-family: "Roboto", "sans-serif";
      font-size: 11.5px;
      padding-right: 12px;
      padding-left: 9px;
      padding-top: 3%;
      font-weight: bolder;
   }

   nav {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
   }

   nav ul {
      visibility: visible;
      display: inline-flex;
      margin: 15px 10px 8px 25px;
      padding: 30px 8px;
   }

   nav ul li {
      display: inline-flex;
      justify-content: space-around;
      padding-right: 15px;
      font-size: 13px;
      font-family: "Roboto", "sans-serif";
   }

   nav ul li i{
      display: inline-block;
      padding-left: 3px;
      height: fit-content;
      align-items: center;
   }
   .burger-menu {
      display: none;
   }

   .fa-bars {
      display: none;
   }

   .separador {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
   }

   .separador article {
      margin-bottom: 25px;
   }

   .productos {
      background-color: white;
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
      width: 40%;
   }

}

@media (min-width: 769px) {

   .header-top {
      display: none;
   }

   .cuotas1{
      display: none;
   }

   .buscador-mobile {
      display: none;
   }

   header{
      height: 12em;
   }

   .header-tres {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      padding: 25px 85px 28px 10px;
   }

   .logo2 {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 34%;
      margin-left: 18px;
   }

   .buscador-tablet-desktop {
      display: inline-flex;
      flex-wrap: nowrap;
      align-items: center;
      padding-top: 1.5%;
      padding-right: 9%;
      padding-left: 0px;
   }

   .place-holder {
      padding-bottom: 0.5px;
      font-size: 12px;
      width: 16vw;
      border-radius: 0.4ch;
      height: fit-content;
   }

   .lupa {
      display: inline-flex;
      background-color: #ebebeb;
      border: solid 1px rgb(97, 97, 97);
      font-size: 11px;
      border-radius: 0.4ch;
      font-weight: bolder;
      align-items: center;
      margin-left: 3px;
   }
   
   .fa-magnifying-glass {
      display: inline-flex;
      font-size: 11px;
      margin-left: 1px;
      margin-bottom: 0.5px;
      padding: 2.5px 1px;
      align-items: center;
   }

   .cuotas2{
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      font-family: "Roboto", "sans-serif";
      font-size: 12px;
      padding-right: 55px;
      padding-left: 9px;
      padding-top: 4%;
      font-weight: bolder;
   }

   nav {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items:stretch;
   }

   nav ul {
      visibility: visible;
      display: inline-flex;
      margin: 0px 15px;
      padding-right: 3%;
      padding-left: 3%;
   }

   nav ul li {
      display: inline-flex;
      justify-content: space-around;
      padding-right: 15px;
      font-size: 13px;
      font-family: "Roboto", "sans-serif";
   }

   nav ul li i{
      display: inline-block;
      padding-left: 3px;
      height: fit-content;
      align-items: center;
   }


   .burger-menu {
      display: none;
   }

   .fa-bars {
      display: none;
   }

   .titulares {
      color: #575757;
      font-family: "Roboto", "sans-serif";
      font-size: 28px;
      margin-left: 4.2%;
      font-weight: 900px;
   }
   

   .productos {
      background-color: white;
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
      width: 20%;
  
   }

}